/* !-- VARIAVEIS LOCAIS -- */
:root {
    --ntp-realbox-border-radius: calc(0.5 * var(--ntp-realbox-height));
    --ntp-realbox-height: 44px;
}


/*! =========================== */
/*!     STYLE INPUT CONTENT     */
/*! =========================== */

.query-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.query-area {
    margin-top: 56px;
}


.input-content {
    width: 564px;
    height: 36px;
    visibility: visible;
    margin: 18px;
}


input {
    background-color: #ffffff;
    border: none;
    border-radius: var(--ntp-realbox-border-radius);
    color: rgba(0, 0, 0, .9);
    font-size: inherit;
    height: 100%;
    outline: 0;
    padding-inline-end: 44px;
    padding-inline-start: 52px;
    position: relative;
    width: 100%;
    box-shadow: 0 2px 6px 0 rgba(23, 23, 23, .32);
}

input::placeholder {
    color: rgba(53, 53, 53, 0.5);
}


#icon__search {
    height: 21px;
    left: 12px;
    position: relative;
    top: -28px;
}


/*! =========================== */
/*!     STYLE FAKE LOGOTIPO     */
/*! =========================== */

.fake-logotipo {
    font-size: 115px;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    color: #5764a5;
    text-shadow: 2px 2px 6px #b7b3b1;
}


/*! =========================== */
/*!        STYLE FOGUETE        */
/*! =========================== */

.rocket{
    width: 125px;
    animation: animateRocket 0.2s linear infinite;
}

@keyframes animateRocket {
    0%,100%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(0,3px);
    }
}
