.shortcuts-area p,
.shortcuts-area span {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}


.shortcuts div {
    margin: 0;
}

.shortcuts-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    width: 564px;
}


/*! =========================== */
/*!        STYLE BUTTONS        */
/*! =========================== */

div[id*="link__shortcut-"] {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: auto;
    height: 115px;
    max-width: 115px;
    padding: 12px;
    background-color: transparent;
    border-radius: 9px;
    transition: all 100ms ease-in-out;
}

div[id*="link__shortcut-"]:hover {
    background-color: rgb(245, 226, 212, 0.5);
}


div[id*="link__shortcut-"] .image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    font-size: 27px;
    margin: 6px;
    box-shadow: 0 0 6px 0 rgba(23, 23, 23, 0.15);
    cursor: pointer;
}

div[id*="link__shortcut-"] .image:hover {
    opacity: 0.7;
}


div[id*="link__shortcut-"] .description {
    font-size: 11px;
}


div[id*="link__shortcut-"] img.more-option {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 100%;
    background-color: rgba(226, 205, 190, 0.7);
    opacity: 0;
    transition: all 100ms ease-in;
    cursor: pointer;
}

div[id*="link__shortcut-"] img.more-option:hover {
    opacity: 0.9;
}


